@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COVER */

#cover {
    width: 100%;
    height: 100vh;
    background: url('./img/cover.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav {
    width: 60%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

nav h2 {
    display: none;
    flex-direction: column;
    font-family: "Bebas";
    line-height: .8;
    font-weight: 300;
    font-size: 2.4rem;
}

nav h2 span:first-child {    
    color: #4d4d4d;
}

nav h2 span:last-child {
    color: #414f6b;
}

nav img {
    margin-left: 1rem;
    height: 50%;
}

nav .nav-links {
    display: flex;
    gap: 2rem;
}

nav .nav-links a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
}

nav .nav-links a:hover {
    font-weight: 600;
}

.header-on-scroll {    
    color: #414f6b;
    background-color: #fff;
    transition: 1s ease-in-out; 
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Bebas";
    text-transform: uppercase;
    font-size: 9vw;
    line-height: 80%;
    position: absolute;
    left: 25%;
    top: 28%;
}

h1 span:first-child {    
    color: #4d4d4d;
}

h1 span:last-child {
    color: #414f6b;
}

#cover>img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* HISTORY */

#history {
    height: 100vh;
    background: url('./img/background-1.png') no-repeat center;
    background-size: cover;
    position: relative;
}

#history .content {
    position: absolute;
    top: 5vh;
    left: 20%;  
    right: 20%;  
}

#history .content .content-title {
    display: flex;
    align-items: center;
}

#history .content .content-title span {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    margin-left: .5rem;
}

#history .content .content-title span:first-child {
    font-size: 7vw;
    color: #6d7d98;
}

#history .content .content-title span:last-child {
    font-size: 3vw;
    text-transform: uppercase;
    margin-left: -2.5%;
    color: #414f6b;
}

#history .content .text {
    display: flex;
    justify-content: center;
}

#history .content .text p {
    width: 80%;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 300;
}

#history .carousel {
    position: absolute;
    bottom: 0;
    height: 25vh;
    width: 100%;
    background-color: #414f6bbf;
    display: flex;
    justify-content: center;
}

#history .carousel .img-section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

#history .carousel .img-section .img-container {
    width: 300%;
    display: flex;
    align-items: center;
}

#history .carousel .img-section .img-container .images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#history .carousel .img-section .img-container .images img {
    width: 20%;
    height: 90%;
}

#history .carousel .img-section .sliders {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
    align-self: center;
}

#history .carousel .img-section .sliders button {
    width: .8rem;
    height: .8rem;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: #636d81;
}

#history .carousel .img-section .sliders button:first-child {
    background-color: #fff;
}

#history .carousel .img-section .sliders button:hover {
    background-color: #fff;
}

/* TEAM */

#team {
    display: flex;
    flex-direction: column;
}

#team .team-header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#team .team-header .team-header-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#team .team-header .team-header-container .team-header-title {
    display: flex;
    align-items: center;
}

#team .team-header .team-header-container .team-header-title span {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    margin-left: 2rem;
}

#team .team-header .team-header-container .team-header-title span:first-child {
    font-size: 7vw;
    color: #a0a7b5;
}

#team .team-header .team-header-container .team-header-title span:last-child {
    font-size: 3vw;
    text-transform: uppercase;
    margin-left: -8.8%;
    color: #414f6b;
}

#team .team-header .team-header-container .text {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
}

#team .team-header .team-header-container .text p {
    width: 80%;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 300;
}

#team .tabs {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414f6b;
}

#team .tabs .tabs-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#team .tabs .tabs-container div {
    height: 100%;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    color: #b0b4be;
    cursor: pointer;
}

#team .tabs .tabs-container div:hover {
    color: #414f6b;
    background-color: #b0b4be;
    font-weight: 400;
    text-decoration: underline;
}

#team .mountain-content {
    background: url('./img/background-2.png') no-repeat center;
    background-size: cover;
    height: 70vh;
    position: relative;
}

#team .mountain-content .schedule {
    background-color: #ffffff94;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    width: 25%;
    position: absolute;
    top: 18%;
    left: 25%;
}

#team .mountain-content .schedule h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2vw;
    color: #414f6b;
}

#team .mountain-content .schedule .journey {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#team .mountain-content .schedule .journey p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#team .mountain-content .schedule .journey:nth-child(2) {
    margin-bottom: 0.7em;
}

#team .mountain-content .schedule .journey:nth-child(3), #team .mountain-content .schedule .journey:nth-child(4) {
    margin-bottom: 1.5em;
}

/* FOOTER */

footer {
    background-color: #414f6b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.2vh;
}

footer .footer-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-container .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-container .brand span {
    translate: 0.3em;
    line-height: 140%;
}

footer .footer-container .brand span p {
    font-family: "Bebas";
    font-size: 1.7em;
    text-transform: uppercase;
    color: #63769d;
}

footer .footer-container > p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #63769d;
    text-transform: uppercase;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    #cover>img {
        display: none;
    }
}